@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

.home .error {
  width: 100%;
  align-self: center;
  color: #f42b4b;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
